<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.aleksgorbenko.alfred.wanikani</string>
	<key>connections</key>
	<dict>
		<key>111771B2-92E6-487C-9B6A-A8DC04932DB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C103AE5-F299-49C3-BA96-0EE9390A11B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70EFE399-97AE-4EF9-8B7E-858DEA88C6C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36B98A2D-4C05-4DEC-B451-1C215E50F86C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>370AFDFD-7179-4184-AF43-1DA1C26F90DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B8517F-DBA7-4609-AF6F-52E691E04AAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AE754F9-7EA2-4BE8-8E70-5E4E8A9EF9F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49629179-A2B2-446D-A0AB-A395E2404796</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70EFE399-97AE-4EF9-8B7E-858DEA88C6C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B5CE19E-E404-4830-9DEE-05EB91739EA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B513578-0A82-45DE-86F3-AE21861CE86D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B513578-0A82-45DE-86F3-AE21861CE86D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D4D0BF6-0D3C-47FD-A81C-66D2F19DF0D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0B8517F-DBA7-4609-AF6F-52E691E04AAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C13367A0-0445-4C65-B7CD-3C53C5833476</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F8505C9-88BA-4C49-8420-4B1F8B473B7A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D032E419-3B8B-4E8E-9F6A-12C17722DB42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7CF5E65A-243B-43F7-95B7-B46948323D33</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2CA59BF-3197-4854-B7FE-A7E9E9A711AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D14F0402-BE13-424D-89CC-6C9CAD03ACC7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B5CE19E-E404-4830-9DEE-05EB91739EA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4C8951F4-0B3F-4C13-958F-AF4B2B00AE60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1C103AE5-F299-49C3-BA96-0EE9390A11B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>807B8FDB-2AED-4C57-8313-761C561E01D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBAC5C04-473E-48F9-8CCD-B7D4C017A0BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>398B827F-C38C-452B-8C80-13FF5A5B51C8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA984E7A-92AC-4AAE-9DEC-FE57F5EC2AD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF4D93BA-AEEC-4834-B6A1-CC0577331C79</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C13367A0-0445-4C65-B7CD-3C53C5833476</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D4D0BF6-0D3C-47FD-A81C-66D2F19DF0D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D032E419-3B8B-4E8E-9F6A-12C17722DB42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36B98A2D-4C05-4DEC-B451-1C215E50F86C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2CA59BF-3197-4854-B7FE-A7E9E9A711AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9815B83-1887-4F44-A935-AC61B77757DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBAC5C04-473E-48F9-8CCD-B7D4C017A0BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AE754F9-7EA2-4BE8-8E70-5E4E8A9EF9F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9815B83-1887-4F44-A935-AC61B77757DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA984E7A-92AC-4AAE-9DEC-FE57F5EC2AD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49629179-A2B2-446D-A0AB-A395E2404796</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aleks Gorbenko</string>
	<key>description</key>
	<string>Browse WaniKani commands (lesson &amp; review summary, more to come)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wanikani</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search WaniKani for a word or kanji</string>
				<key>title</key>
				<string>Search WaniKani</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>111771B2-92E6-487C-9B6A-A8DC04932DB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/lessons.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9D4D0BF6-0D3C-47FD-A81C-66D2F19DF0D4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C13367A0-0445-4C65-B7CD-3C53C5833476</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/reviews.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>36B98A2D-4C05-4DEC-B451-1C215E50F86C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D032E419-3B8B-4E8E-9F6A-12C17722DB42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/summary.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9815B83-1887-4F44-A935-AC61B77757DD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D2CA59BF-3197-4854-B7FE-A7E9E9A711AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lessons</string>
						<key>outputlabel</key>
						<string>lessons</string>
						<key>uid</key>
						<string>4F8505C9-88BA-4C49-8420-4B1F8B473B7A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reviews</string>
						<key>outputlabel</key>
						<string>reviews</string>
						<key>uid</key>
						<string>7CF5E65A-243B-43F7-95B7-B46948323D33</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>summary</string>
						<key>outputlabel</key>
						<string>summary</string>
						<key>uid</key>
						<string>D14F0402-BE13-424D-89CC-6C9CAD03ACC7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>levels</string>
						<key>outputlabel</key>
						<string>levels</string>
						<key>uid</key>
						<string>4C8951F4-0B3F-4C13-958F-AF4B2B00AE60</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>stats</string>
						<key>outputlabel</key>
						<string>stats</string>
						<key>uid</key>
						<string>807B8FDB-2AED-4C57-8313-761C561E01D5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>accuracy</string>
						<key>outputlabel</key>
						<string>accuracy</string>
						<key>uid</key>
						<string>398B827F-C38C-452B-8C80-13FF5A5B51C8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>leeches</string>
						<key>outputlabel</key>
						<string>leeches</string>
						<key>uid</key>
						<string>DF4D93BA-AEEC-4834-B6A1-CC0577331C79</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other commands</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C0B8517F-DBA7-4609-AF6F-52E691E04AAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/levels.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B513578-0A82-45DE-86F3-AE21861CE86D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B5CE19E-E404-4830-9DEE-05EB91739EA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title": "Summary", "subtitle": "Lessons and reviews available right now", "arg": "summary", "imagefile": "icon_summary.png"}, {"title": "Levels", "subtitle": "Level history and time spent per level", "arg": "levels", "imagefile": "icon_levels.png"}, {"title": "Stats", "subtitle": "SRS stage breakdown (Apprentice/Guru/Master/Enlightened/Burned)", "arg": "stats", "imagefile": "icon_stats.png"}, {"title": "Accuracy", "subtitle": "Overall, meaning, and reading review accuracy", "arg": "accuracy", "imagefile": "icon_accuracy.png"}, {"title": "Leeches", "subtitle": "Items you keep getting wrong", "arg": "leeches", "imagefile": "icon_leeches.png"}, {"title": "Lessons", "subtitle": "Browse and search your current lesson queue", "arg": "lessons", "imagefile": "icon_lessons.png"}, {"title": "Reviews", "subtitle": "Browse and search your current review queue", "arg": "reviews", "imagefile": "icon_reviews.png"}]</string>
				<key>keyword</key>
				<string>wk</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>WaniKani</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>370AFDFD-7179-4184-AF43-1DA1C26F90DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/stats.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70EFE399-97AE-4EF9-8B7E-858DEA88C6C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C103AE5-F299-49C3-BA96-0EE9390A11B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/accuracy.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AE754F9-7EA2-4BE8-8E70-5E4E8A9EF9F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DBAC5C04-473E-48F9-8CCD-B7D4C017A0BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to WaniKani…</string>
				<key>script</key>
				<string>python3 src/wkapi/leeches.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Talking to WaniKani…</string>
				<key>title</key>
				<string>Loading…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49629179-A2B2-446D-A0AB-A395E2404796</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FA984E7A-92AC-4AAE-9DEC-FE57F5EC2AD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>111771B2-92E6-487C-9B6A-A8DC04932DB1</key>
		<dict>
			<key>note</key>
			<string>wks - WaniKani dictionary search (live filter)</string>
			<key>xpos</key>
			<real>855.0</real>
			<key>ypos</key>
			<real>15.0</real>
		</dict>
		<key>1C103AE5-F299-49C3-BA96-0EE9390A11B7</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Stats</string>
			<key>xpos</key>
			<real>520.0</real>
			<key>ypos</key>
			<real>615.0</real>
		</dict>
		<key>36B98A2D-4C05-4DEC-B451-1C215E50F86C</key>
		<dict>
			<key>note</key>
			<string>Reviews (live filter)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>370AFDFD-7179-4184-AF43-1DA1C26F90DA</key>
		<dict>
			<key>note</key>
			<string>List WaniKani commands</string>
			<key>xpos</key>
			<real>85.0</real>
			<key>ypos</key>
			<real>480.0</real>
		</dict>
		<key>3AE754F9-7EA2-4BE8-8E70-5E4E8A9EF9F0</key>
		<dict>
			<key>note</key>
			<string>Accuracy (dedicated node, no shared router)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>730.0</real>
		</dict>
		<key>49629179-A2B2-446D-A0AB-A395E2404796</key>
		<dict>
			<key>note</key>
			<string>Leeches (dedicated node, no shared router)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>875.0</real>
		</dict>
		<key>70EFE399-97AE-4EF9-8B7E-858DEA88C6C7</key>
		<dict>
			<key>note</key>
			<string>Stats (dedicated node, no shared router)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>585.0</real>
		</dict>
		<key>7B5CE19E-E404-4830-9DEE-05EB91739EA6</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Levels</string>
			<key>xpos</key>
			<real>525.0</real>
			<key>ypos</key>
			<real>470.0</real>
		</dict>
		<key>8B513578-0A82-45DE-86F3-AE21861CE86D</key>
		<dict>
			<key>note</key>
			<string>Levels (dedicated node, no shared router)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>440.0</real>
		</dict>
		<key>9D4D0BF6-0D3C-47FD-A81C-66D2F19DF0D4</key>
		<dict>
			<key>note</key>
			<string>Lessons (live filter)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>15.0</real>
		</dict>
		<key>C0B8517F-DBA7-4609-AF6F-52E691E04AAB</key>
		<dict>
			<key>note</key>
			<string>Route Lessons to its own live-filter list</string>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>410.0</real>
		</dict>
		<key>C13367A0-0445-4C65-B7CD-3C53C5833476</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Lessons</string>
			<key>xpos</key>
			<real>520.0</real>
			<key>ypos</key>
			<real>40.0</real>
		</dict>
		<key>D032E419-3B8B-4E8E-9F6A-12C17722DB42</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Reviews</string>
			<key>xpos</key>
			<real>515.0</real>
			<key>ypos</key>
			<real>180.0</real>
		</dict>
		<key>D1807DB7-0230-4FDB-994E-0A58EAB34FA5</key>
		<dict>
			<key>note</key>
			<string>Open result URL</string>
			<key>xpos</key>
			<real>940.0</real>
			<key>ypos</key>
			<real>310.0</real>
		</dict>
		<key>D2CA59BF-3197-4854-B7FE-A7E9E9A711AA</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Summary</string>
			<key>xpos</key>
			<real>520.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>DBAC5C04-473E-48F9-8CCD-B7D4C017A0BF</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Accuracy</string>
			<key>xpos</key>
			<real>515.0</real>
			<key>ypos</key>
			<real>755.0</real>
		</dict>
		<key>F9815B83-1887-4F44-A935-AC61B77757DD</key>
		<dict>
			<key>note</key>
			<string>Summary (dedicated node, no shared router)</string>
			<key>xpos</key>
			<real>640.0</real>
			<key>ypos</key>
			<real>280.0</real>
		</dict>
		<key>FA984E7A-92AC-4AAE-9DEC-FE57F5EC2AD2</key>
		<dict>
			<key>note</key>
			<string>Clear query before showing Leeches</string>
			<key>xpos</key>
			<real>525.0</real>
			<key>ypos</key>
			<real>895.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>API Key</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Available here: 
https://www.wanikani.com/settings/personal_access_tokens

Make sure these permissions are checked:
✅ all_data:read
✅ assignments:start
✅ reviews:create
✅ study_materials:create
✅ study_materials:update</string>
			<key>label</key>
			<string>Wanikani API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>WANIKANI_API_TOKEN</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://aleksgorbenko.dev</string>
</dict>
</plist>
